# Node.js
node_modules/
npm-debug.log
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Logs
logs/

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db

# Arquivos do sistema operacional
*.swp
*~
.idea/
.vscode/

# Compiled files
*.class
*.jar
